**/node_modules
**/.next
**/vendor
**/.git
**/.env
**/.env.*
!**/.env.example
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/bootstrap/cache/*
**/*.md
!README.md
**/tests
**/.phpunit.cache
**/coverage
**/.idea
**/.vscode
**/docs-site
