.env
backend/.env
frontend/.env
frontend/.npmrc
*.log
.DS_Store
.idea
.vscode
frontend/node_modules
frontend/.next
frontend/tsconfig.tsbuildinfo
packages/webina-ui/node_modules
backend/vendor
backend/.phpunit.cache
