APP_NAME=Webino
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://acme.example.com

APP_LOCALE=fa
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=fa_IR

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=webino_dashboard
DB_USERNAME=webino
DB_PASSWORD=change_me_strong_password

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@acme.example.com"
MAIL_FROM_NAME="${APP_NAME}"

FRONTEND_URL=https://acme.example.com
SANCTUM_STATEFUL_DOMAINS=acme.example.com

AUTH_COOKIE_NAME=webino_auth_token
AUTH_COOKIE_MAX_MINUTES=10080
AUTH_ENFORCE_2FA_ROLES=

WEBINO_BASE_URL=https://acme.example.com
